
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

ul {
    position: relative;
}

li {
    list-style-type: none;
    font-family : 'Alata', sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FFF;
}

a:hover::after {
    width: 50%;
    margin: auto;
}

/* Header */

header {
    height: 650px;
    min-width: 1440px;
    max-width: 1650px;
    width: 100%;
    color: #fff;
    padding-top: 50px;
    background-image: url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-main {
    width: 80%;
    margin: auto; 
}

.header-nav {
    display: flex;
}

.logo-text {
    width: 60%;
    font-size: 2rem;
    font-family : 'Alata', sans-serif;
}

.header-nav nav {
    width: 40%;
    display: flex;
}

.header-nav nav li {
    list-style-type: none;
}

.header-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    height: 30px;
    width: 35px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 3px;
    transition: .3s;
}

.clicked span:nth-child(1) {
    transform: rotate(45deg) translate(7px, 8px);
}

.clicked span:nth-child(2) {
    opacity: 0;
}

.clicked span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

.header-click {
    background: #000;
}

.header-click .header-text {
    display: none;
}

.hamburger-menu {
    display: none;
    height: 0%;
    margin-top: 100px;
}

.menu-clicked {
    display: block;
}

.hamburger-menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger-menu li{
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;   
    text-transform: uppercase;
}

.header-text {
    width: 55%;
    height: 45%;
    margin-top: 100px;
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    border: 1px #FFF solid;
}

/* Main */
/* org info */
main {
    min-width: 1440px;
    max-width: 1650px;
    width: 100%;
}

main section {
    width: 80%;
    margin: auto;
}

.org-info {
    height: 650px;
    position: relative;
}

.org-info figure {
    height: 65%;
    width: 60%;
    transform: translateY(150px);
    z-index: 0;
}

.org-info figure img {
    height: 100%;
    width: 100%;
}

.org-info-card {
    position: absolute;
    height: 55%;
    width: 50%;
    bottom:0;
    right:0;
    padding: 75px 0 75px 75px;
    z-index: 1;
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;
}

.org-info-title {
    text-transform: uppercase;
    font-size: 3rem;
}

.org-info-desc {
    width: 80%;
    margin-top: 30px;
    font-size: 0.7rem;
    text-align: left;
    line-height: 2;
}

/* creations */

.creations {
    height: 1300px;
    margin-top: 100px;
}

.creations-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 7rem;
    height: 2.5rem;
    border: 1px #000 solid;
    border-radius: 3px;
    color: #000;
    background-color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

button:hover {
    background-color: #000;
    color: #FFF;
}

.creations-title {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

.image-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.image-grid figure {
    width: 265px;
    height: 500px;
    margin-top: 30px;
    position: relative;
}

.image-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid figure:hover {
    opacity: .7;
}

.image-grid figcaption {
    width: 60%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
}

.btn-2 {
    transform: translate(110px,40px);
}

/* Footer */
footer {
    min-width: 1440px;
    max-width: 1650px;
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #FFF;
}

.footer-container {
    width: 80%;
    height: 45%;
    margin: auto;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
    font-family : 'Alata', sans-serif;
}

.footer-title {
    font-size: 1.7rem;
}

.footer-container ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-header {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-header ul{
    font-size: 0.8rem;
    font-weight: 600;
}

.social-links {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.icons {
    width: 30%;
    align-self: stretch;
    margin-left: 70%;
}

.icons ul {
    width: 100%;
}

.icons img {
    background-color: black;
}

.copyright {
    color: hsl(0, 0%, 55%);
}

/* Mobile */
@media (min-width: 375px) {
    .btn-2 {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 375px) {

    header {
        min-width: 375px;
    }

    .header-main {
        width: 90%;
        height: 90%;
    }

    .header-nav {
        justify-content: space-between;
    }

    .header-nav nav {
        display: none;
    }
    
    .logo-text {
        width: 50%;
        font-size: 1.5rem;
    }

    .header-text {
        width: 90%;
        height: 40%;
        font-size: 35px;
    }

    .hamburger {
        display: block;
    }

    /* Main */
    main {
        min-width: 375px;
    }

    main section {
        width: 90%;
    }

    .org-info figure {
        width: 100%;
        height: 30%;
        transform: translateY(100px);
    }

    .org-info-card {
        width: 100%;
        height: 50%;
        padding: 0;
        text-align: center;
    }

    .org-info-title {
        font-size: 1.5rem;
    }
    
    .org-info-desc {
        width: 90%;
        height: 70%;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        line-height: 2;
        font-size: 0.9rem;
    }

    .creations {
        height: 1600px;
        margin-top: 0;
    }

    .btn-1 {
        display: none;
    }

    .creations-title {
        width: 100%;
        font-size: 2rem;
        text-align: center;
    }

    .image-grid figure{
        width: 100%;
        height: 150px;
        margin-top: 20px;
    }
    
    .image-grid figcaption {
        width: 50%;
        bottom: 10px;
        left: 10px;
        font-size: 1.5rem;
    }

    footer {
        min-width: 375px;
        height: 500px;
    }

    .footer-container {
        height: 80%;
        transform: translateY(50px);
        flex-direction: column;
        align-items: center;
    }

    .footer-header {
        width: 100%;
        text-align: center;
        height: 80%;
        justify-content: space-between;
    }

    .footer-header nav {
        height: 80%;
    }

    .footer-header ul {
        height: 90%;
        display: flex;
        flex-direction: column;
    }
    
    .social-links {
        height: 20%;
        width: 100%;
    }

    .icons {
        width: 50%;
        margin-left: 25%;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }
}